@import './config';

/*
 * BEM
 */
@mixin b($block) {
  @if $namespace != '' {
    $block: #{$namespace + '-' + $block};
  }

  .#{$block} {
    @content;
  }
}

@mixin e($element) {
  $selector: '';

  @each $item in $element {
    $selector: #{$selector + & + $element-separator + $item + ','};
  }

  @at-root #{$selector} {
    @content;
  }
}

@mixin m($modifier) {
  $selector: '';

  @each $item in $modifier {
    $selector: #{$selector + & + $modifier-separator + $item + ","};
  }

  @at-root #{$selector} {
    @content;
  }
}

@mixin font-size($size) {
  font-size: $size;

  [data-dpr="2"] & {
    font-size: $size * 2;
  }

  [data-dpr="3"] & {
    font-size: $size * 3;
  }
}

@mixin size-style($name, $size) {
  #{$name}: $size;

  [data-dpr="2"] & {
    #{$name}: $size * 2;
  }

  [data-dpr="3"] & {
    #{$name}: $size * 3;
  }
}
